{% extends 'admin/layouts/app.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    <link href="{% static 'assets/css/common.css' %}" rel="stylesheet" />
{% endblock style %}

{% block wrapper %}
<div class="page-wrapper">
    <div class="page-content">
        <div id="role-card" class="card role-card-remover" style="position:fixed; width: 100px; height:113px; z-index: 100;">
            <div class="role-card text-primary" onclick = "changeUserRole(1)">
                User Role
            </div>
            <div class="dropdown-divider m-0"></div>
            <div class="role-card text-primary" onclick = "changeUserRole(2)">
                Admin Role
            </div>
            <div class="dropdown-divider m-0"></div>
            <div class="role-card text-primary" onclick = "changeUserRole(3)">
                Test Role
            </div>
        </div>
        <div class="card p-4" id="page1">
            <div class="mb-4">
                <p class="text-secondary fw700 ft24">Insert User Data</p>
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="mb-3 form-group">
                            <p class="mb-1 fw600">Username</p>
                            <input type="text" class="form-control"  name="username" id="username" required/>
                        </div>
                        <div class="mb-3 form-group">
                            <p class="mb-1 fw600">Password</p>
                            <input type="password" class="form-control"  name="password" id="password" required>
                        </div>
                        <div class="mb-3 form-group">
                            <p class="mb-1 fw600">Confirm Password</p>
                            <input type="password" class="form-control"  name="confirm_password" id="confirm_password" required>
                        </div>
                        <div class="mb-3 form-group">
                            <p class="mb-1 fw600">Company</p>
                            <input type="company" class="form-control" name="company" id="company" required>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="mb-3 form-group">
                            <p class="mb-1 fw600">Email</p>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                        <div class="mb-3 form-group">
                            <p class="mb-1 fw600">First Name</p>
                            <input type="text" class="form-control" name="firstname" id="firstname" required>
                        </div>
                        <div class="mb-3 form-group">
                            <p class="mb-1 fw600">Last Name</p>
                            <input type="text" class="form-control" name="lastname" id="lastname" required>
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary px-4 py-2" onclick="createUser()">Create</button>
            </div>
            <div class="d-flex flex-row justify-content-between my-4 mb-4">
                <p class="text-secondary fw700 ft24">User Data List</p>
                <button class="btn btn-danger px-4 py-2" onclick="deleteUserBulk()">Delete</button>
            </div>
            <div class="custom-table-div1">
                <table id="custom_data_table" class="table table-hover custom-table-800">
                    <thead>
                        <tr>
                            <th style="width: 5%"><input type="checkbox" id="main-check"></th>
                            <th style="width: 20%">UserName</th>
                            <th style="width: 30%">Email</th>
                            <th style="width: 10%">Role</th>
                            <th style="width: 10%">Status</th>
                            <th style="width: 15%">OPERATION</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card p-4" id="page2">
            <div class="card-body">
                <ul class="nav nav-tabs nav-primary" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" data-bs-toggle="tab" href="#page2_detail" role="tab" aria-selected="true">
                            <div class="d-flex align-items-center">
                                <div class="tab-title">Detail</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#page2_billing" role="tab" aria-selected="false">
                            <div class="d-flex align-items-center">
                                <div class="tab-title">Billing</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#page2_subscription" role="tab" aria-selected="false">
                            <div class="d-flex align-items-center">
                                <div class="tab-title">Subscription</div>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" data-bs-toggle="tab" href="#page2_invoice" role="tab" aria-selected="false">
                            <div class="d-flex align-items-center">
                                <div class="tab-title">Invoice</div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="tab-content py-3">
                    <div class="tab-pane fade show active" id="page2_detail" role="tabpanel">
                        
                    </div>
                    <div class="tab-pane fade" id="page2_billing" role="tabpanel">
                        <p class="ft16">Not registered customer</p>
                    </div>
                    <div class="tab-pane fade" id="page2_subscription" role="tabpanel">
                        <div class="d-flex flex-row justify-content-between mb-4">
                            <div class="d-flex flex-row gap-2 align-items-center">
                                <div class="ft20">Status:</div>
                                <select class="form-select mx-1" aria-label="SubscriptionStatus" id="subscriptionStatus" name="subscriptionStatus">
                                    <option selected value='all'>All</option>
                                    <option value='active'>Active</option>
                                    <option value='past_due'>Past Due</option>
                                    <option value='unpaid'>Unpaid</option>
                                    <option value='canceled'>Canceled</option>
                                    <option value='incomplete'>Incomplete</option>
                                    <option value='incomplete_expired'>Incomplete Expired</option>
                                    <option value='trialing'>Trialing</option>
                                    <option value='paused'>Paused</option>
                                    <option value='ended'>Ended</option>
                                </select>
                            </div>
                            <button class="btn btn-primary px-3" onclick="goBack()">Back</button>
                        </div>
                        <div id="page2_subscription_body">
                            <table id="subscription_data_table" class="table table-hover custom-table-800">
                                <thead>
                                    <tr>
                                        <th style="width: 5%"><input type="checkbox" id="subscription-check"></th>
                                        <th style="width: 20%">Id</th>
                                        <th style="width: 10%">Status</th>
                                        <th style="width: 10%">Amount</th>
                                        <th style="width: 15%">Type</th>
                                        <th style="width: 15%">Start</th>
                                        <th style="width: 15%">End</th>
                                        <th style="width: 10%">Operation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="page2_invoice" role="tabpanel">
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="backdrop">
            <div class="text-center-custom loading">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock wrapper %}

{% block script %}
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="{% static 'assets/js/admin_user.js' %}"></script>
{% endblock script%}