{% extends './app.html' %}
{% load static %}

{% block wrapper %}
    <div class="row">
        <div class="col-md-6 col-12">
            <img class="img-fluid" src="{% static '/assets/images/home/reset_password.png' %}">
        </div>
        <div class="col-md-6 col-12 margin-top-200">
            <form class="row g-3 m-auto max-width-500 needs-validation" id="resetPasswordForm" novalidate>
                {% csrf_token %}
                <h4 class="mb-2">Reset Password &nbsp;&#x1F512;</h5>
                <label for="register head" class="form-label">for {{ email }}</label>   
                <div class="col-12">
                    <label for="inputChoosePassword" class="form-label">New Password</label>
                    <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-lock-open"></i></span>
                        <input type="password" class="form-control border-start-0" id="inputChoosePassword" placeholder="Choose Password" required>
                    </div>
                    <div class="invalid-feedback">
                        Please insert password.
                    </div>
                </div>
                <div class="col-12">
                    <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                    <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-lock"></i></span>
                        <input type="password" class="form-control border-start-0" id="inputConfirmPassword" placeholder="Confirm Password" required>
                    </div>
                    <div class="invalid-feedback">
                        Please insert confirm password.
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-grid">
                        <button type="btn" class="btn btn-primary px-5" id="loginButton">Set New Password</button>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <label class="form-check-label" for="gridCheck2"><a class="text-primary cursor-pointer" href="/login">&lt; Back to log in</a></label>
                </div>

            </form>
        </div>
    </div>

{% endblock wrapper %}