{% extends './app.html' %}
{% load static %}

{% block wrapper %}
    <div class="row margin-top-100 mb-5">
        <div class="d-flex flex-row justify-content-center mb-3">
            <img src="{% static 'assets/images/home/wordyAI_logo_final_dark.png' %}" class="register-logo">
        </div>
        <div class="custom-form">
            <form class="row g-3 m-auto needs-validation" id="resetPasswordForm" novalidate>
                {% csrf_token %}
                <p class="ft28 mb-2 fwbold text-primary">Reset Password &nbsp;&#x1F512;</p>
                <label for="register head" class="form-label ft16">for {{ email }}</label>   
                <div class="col-12">
                    <label for="inputChoosePassword" class="form-label">New Password</label>
                    <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-lock-open"></i></span>
                        <input type="password" class="form-control border-start-0" id="inputChoosePassword" placeholder="Choose Password" required>
                    </div>
                    <div class="invalid-feedback">
                        Please insert password.
                    </div>
                </div>
                <div class="col-12">
                    <label for="inputConfirmPassword" class="form-label">Confirm Password</label>
                    <div class="input-group"> <span class="input-group-text bg-transparent"><i class="bx bxs-lock"></i></span>
                        <input type="password" class="form-control border-start-0" id="inputConfirmPassword" placeholder="Confirm Password" required>
                    </div>
                    <div class="invalid-feedback">
                        Please insert confirm password.
                    </div>
                </div>
                <div class="col-12">
                    <div class="d-grid">
                        <button type="btn" class="btn btn-primary px-5" id="loginButton">Set New Password</button>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <label class="form-check-label" for="gridCheck2"><a class="text-primary-1 cursor-pointer" href="/login">&lt; Back to log in</a></label>
                </div>

            </form>
        </div>
    </div>

{% endblock wrapper %}