{% load static %}
<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'assets/images/home/wordyAI_logo_small_final_white.png' %}" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">wordyAI</h4>
        </div>
        <div class="ms-auto">
            <img class="toggle-icon-hide" src="{% static 'assets/images/dashboard/hide-navbar-icon.png' %}">
            <img class="toggle-icon-show" src="{% static 'assets/images/dashboard/show-navbar-icon.png' %}">
        </div>
    </div>
    <div class="d-flex flex-column sidebar-body">
        <div class="navbar-wrapper">
            <div class="navbar-item-wrapper">
                <div class="navbar-item-prev">
                </div>
            </div>
            <a href="{% url 'dashboard:analytics_view' %}" class="navbar-item-body">
                <div class="navbar-item-icon"><i class='bx bx-home'></i>
                </div>
                <p class="navbar-item-content">Dashboard</p>
            </a>
            <div class="navbar-item-wrapper">
                <div class="navbar-item-prev">
                </div>
            </div>
            <a href="{% url 'product:product_view' %}" class="navbar-item-body">
                <div class="navbar-item-icon"><i class='bx bxs-cube-alt'></i>
                </div>
                <p class="navbar-item-content">Product</p>
            </a>
            <div class="navbar-item-wrapper">
                <div class="navbar-item-prev">
                </div>
            </div>
            <a href="{% url 'membership:billing_view' %}" class="navbar-item-body">
                <div class="navbar-item-icon"><i class='bx bxs-user'></i>
                </div>
                <p class="navbar-item-content">Membership</p>
            </a>
            <div class="navbar-item-wrapper">
                <div class="navbar-item-prev">
                </div>
            </div>
            <a href="{% url 'helpcenter:index_view' %}" class="navbar-item-body">
                <div class="navbar-item-icon"><i class='bx bx-help-circle'></i>
                </div>
                <p class="navbar-item-content">Help Center</p>
            </a>
            <div class="navbar-item-wrapper">
                <div class="navbar-item-prev">
                </div>
            </div>
            <a href="{% url 'user:profile_view' %}" class="navbar-item-body">
                <div class="navbar-item-icon"><i class='bx bx-cog'></i>
                </div>
                <p class="navbar-item-content">Settings</p>
            </a>
            <div class="navbar-item-wrapper">
                <div class="navbar-item-prev">
                </div>
            </div>
        </div>
        
    </div>
    
</div>