{% extends 'admin/layouts/app.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" /> {% endcomment %}
    <link href="{% static 'assets/css/common.css' %}" rel="stylesheet" />
{% endblock style %}

{% block wrapper %}
<div class="page-wrapper">
    <div class="page-content">
        <div class="card p-4">
            <p class="text-secondary fw700 ft24">Insert Content</p>
            <div class="mb-3 form-group">
                <p class="text-secondary mb-1 fw600">Category</p>
                <select class="form-select" aria-label="Category" id="filterCategory">
                    <option selected value=0>Category</option>
                </select>
            </div>
            <div class="mb-3 form-group">
                <p class="text-secondary mb-1 fw600">Content Name</p>
                <input type="text" class="form-control" name="contentName" id="contentName"/>
            </div>
            <div class="mb-3 form-group">
                <p class="text-secondary mb-1 fw600">Content</p>
                {% comment %} <div contenteditable = 'true' class="editableDiv mb-3" id="content" > </div> {% endcomment %}
                <div id="content"></div>
            </div>
            <div id="createButton">
                <button class="btn btn-primary px-4" onclick="createContent()">Create</button>
            </div>
            <div id="updateContent">
                
            </div>
            <div class="d-flex flex-row justify-content-between my-4">
                <p class="text-secondary fw700 ft24 mb-0">Content List</p>
                <button class="btn btn-danger px-3" onclick="deleteContentBulk()">Delete</button>
            </div>
            <div class="custom-table-div1">
                <table id="content_table" class="table table-hover custom-table-700">
                    <thead>
                        <tr>
                            <th><input type="checkbox" id="main-check"></th>
                            <th>Content</th>
                            <th>Category</th>
                            <th>OPERATION</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="backdrop">
            <div class="text-center-custom loading">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock wrapper %}

{% block script %}
    {% comment %} <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script> {% endcomment %}
    <script src="https://cdn.ckeditor.com/ckeditor5/38.1.1/classic/ckeditor.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
    <script src="{% static 'assets/js/helpcenter_insert_content.js' %}"></script>
    
{% endblock script%}