{% extends 'layouts/app.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'assets/css/common.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/fancy-file-uploader/fancy_fileupload.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/Drag-And-Drop/dist/imageuploadify.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/plugins/highcharts/css/highcharts.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.css' %}" rel="stylesheet" />
{% endblock style %}

{% block wrapper %}
<div class="page-wrapper">
    <div class="page-content">

        <div class="row">
            <div class="col-12 col-lg-7 d-flex flex-column">
                <div class="card p-5">
                    <p class="ft36 fwbold text-primary">Hi {{username}}</p>
                    <p class="ft18 fw600 text-secondary">Welcome back {{username}}. We are glad you are here. To optimize your products, select the menu item "Products". If you need support, take a look at our documentation or write our support</p>
                    <div class="col">
                        <button type="button" class="ft20 fw800 round12 btn btn-primary px-5" onclick = "goProductPage()">Optimize Products Now</button>
                    </div>
                </div>
                <p class="ft24 fwbold text-primary">First Steps-Documentation</p>
                <div class="row">
                    <div class="col-12 col-xl-4">
                        <div class="card" >
                            <div class="flex flex-column align-items-center p-3 text-center mx-2 mb-2">
                                <img class="img50" src="{% static 'assets/images/data/union.png' %}"/>
                                <p class="ft20 fwbold text-primary my-2">Getting Started</p>
                                <p class="ft14 fw600 text-secondary twoline-ellipsis">Whether you're new or you're a power user, this article will...</p>
                                <button class="fwbold round12 btn btn-primary px-2">Read More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4">
                        <div class="card" >
                            <div class="flex flex-column align-items-center p-3 text-center mx-2 mb-2">
                                <img class="img50" src="{% static 'assets/images/data/gift.png' %}"/>
                                <p class="ft20 fwbold text-primary my-2">First Steps</p>
                                <p class="ft14 fw600 text-secondary twoline-ellipsis">Are you a new customer wondering how to get started?</p>
                                <button class="fwbold round12 btn btn-primary px-2">Read More</button>
                            </div>
                        </div>
                    </div> 
                    <div class="col-12 col-xl-4">
                        <div class="card" >
                            <div class="flex flex-column align-items-center p-3 text-center mx-2 mb-2">
                                <img class="img50" src="{% static 'assets/images/data/content.png' %}"/>
                                <p class="ft20 fwbold text-primary my-2">Add External..</p>
                                <p class="ft14 fw600 text-secondary twoline-ellipsis">This article will show you how to expand the functionality of ...</p>
                                <button class="fwbold round12 btn btn-primary px-2">Read More</button>
                            </div>
                        </div>
                    </div>     
                </div>
                <p class="ft24 fwbold text-primary">Average Product Performance</p>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="card radius-10">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0">New Sessions</p>
                                        <h5 class="mb-0">54.6%</h5>
                                    </div>
                                    <div class="widgets-icons bg-light-primary text-primary ms-auto"><i class="bx bxs-cookie"></i></div>
                                </div>
                                <div id="chart8"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="card radius-10">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div>
                                        <p class="mb-0">Average Pages</p>
                                        <h5 class="mb-0">38.5%</h5>
                                    </div>
                                    <div class="widgets-icons bg-light-danger text-danger ms-auto"><i class="bx bxs-bookmark-alt-plus"></i></div>
                                </div>
                                <div id="chart9"></div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
            <div class="col-12 col-lg-5 d-flex flex-column">
                <div class="card p-2">
                    <div class="customers-list p-3">
                        <div class="product-card d-flex align-items-center p-3 mb-3">
                            <div class="mx-2">
                                <img src="{% static 'assets/images/data/active_product.png' %}" class="round12" width="70" height="70" alt="" />
                            </div>
                            <div class="ms-2">
                                <p class="mb-0 ft18 fw600 text-primary">Active Products</p>
                                <p class="mb-0 ft28 fw800 text-primary" id="activeProductCount">--</p>
                            </div>
                            <div class="list-inline d-flex ms-auto">	
                                <a href="javascript:;" class="list-inline-item">
                                    <p class="mb-0 ft24 product-right-arrow-button">&gt;</p>
                                </a>
                            </div>
                        </div>
                        <div class="product-card d-flex align-items-center p-3 mb-3">
                            <div class="mx-2">
                                <img src="{% static 'assets/images/data/optimized_product.png' %}" class="round12" width="70" height="70" alt="" />
                            </div>
                            <div class="ms-2">
                                <p class="mb-0 ft18 fw600 text-primary">Optimized Products</p>
                                <p class="mb-0 ft28 fw800 text-primary position-relative" id="optimizedProductCount">--</p>
                            </div>
                            <div class="list-inline d-flex ms-auto">	
                                <a href="javascript:;" class="list-inline-item">
                                    <p class="mb-0 ft24 product-right-arrow-button">&gt;</p>
                                </a>
                            </div>
                        </div>
                        <div class="product-card d-flex align-items-center p-3 mb-3">
                            <div class="mx-2">
                                <img src="{% static 'assets/images/data/products_optimize.png' %}" class="round12" width="70" height="70" alt="" />
                            </div>
                            <div class="ms-2">
                                <p class="mb-0 ft18 fw600 text-primary">Products to optimize</p>
                                <p class="mb-0 ft28 fw800 text-primary" id="optimizeProductCount">--</p>
                            </div>
                            <div class="list-inline d-flex ms-auto">	
                                <a href="javascript:;" class="list-inline-item">
                                    <p class="mb-0 ft24 product-right-arrow-button">&gt;</p>
                                </a>
                            </div>
                        </div>
                        <div class="product-card d-flex align-items-center p-3">
                            <div class="mx-2">
                                <img src="{% static 'assets/images/data/problems_product.png' %}" class="round12" width="70" height="70" alt="" />
                            </div>
                            <div class="ms-2">
                                <p class="mb-0 ft18 fw600 text-primary">Problems found</p>
                                <p class="mb-0 ft28 fw800 text-primary" id="problemProductCount">--</p>
                            </div>
                            <div class="list-inline d-flex ms-auto">	
                                <a href="javascript:;" class="list-inline-item">
                                    <p class="mb-0 ft24 product-right-arrow-button">&gt;</p>
                                </a>
                            </div>
                        </div>
                        <div class="product-card p-3 mt-4" style="position:relative;height:180px;">
                            <p class="ft20 text-primary fw600">Your current subscriptions</p>
                            <p class="ft28 text-secondary fwbold mx-2" id="currentSubscription">Free Plan</p>
                            <img src="{% static 'assets/images/dashboard/list.png'%}" style="width:130px; position:absolute; top:0px; right:0px;">
                        </div>
                        <div class="product-card p-3 mt-4" >
                            <p class="ft20 text-primary fw600 px-5">Buy <b>Pro Account</b> to explore premimum features</p>
                            <div class="d-flex flex-row justify-content-center">
                                <button type="button" class="btn btn-primary px-5 fwbold round12" onclick="goBilling()">Purchase now</button>
                            </div>
                        </div>
                    </div>
                </div>
               
                
            </div>
        </div>

    </div>
</div>
{% endblock wrapper %}

{% block script %}
    <script src="{% static 'assets/plugins/fancy-file-uploader/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'assets/plugins/fancy-file-uploader/jquery.fileupload.js' %}"></script>
    <script src="{% static 'assets/plugins/fancy-file-uploader/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'assets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js' %}"></script>
    <script src="{% static 'assets/plugins/Drag-And-Drop/dist/imageuploadify.min.js' %}"></script>
    <script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-2.0.2.min.js' %}"></script>
	<script src="{% static 'assets/plugins/vectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
	<script src="{% static 'assets/plugins/highcharts/js/highcharts.js' %}"></script>
	<script src="{% static 'assets/plugins/highcharts/js/exporting.js' %}"></script>
	<script src="{% static 'assets/plugins/highcharts/js/variable-pie.js' %}"></script>
	<script src="{% static 'assets/plugins/highcharts/js/export-data.js' %}"></script>
	<script src="{% static 'assets/plugins/highcharts/js/accessibility.js' %}"></script>
	<script src="{% static 'assets/plugins/apexcharts-bundle/js/apexcharts.min.js' %}"></script>

    <script src="{% static 'assets/js/users.js' %}"></script>
    <script src="{% static 'assets/js/index.js' %}"></script>
    <script src="{% static 'assets/js/product_download_status.js' %}"></script>
    <script src="{% static 'assets/js/product_status.js' %}"></script>
{% endblock script%}